/* Personalizar el tema: Cambia las variables de color en css-examples/styles.css para usar tu propia paleta.  */

:root {
  --primary-color: #130a78;
  --secondary-color: #0f075e;
  --accent-color: #0a0543;
  --background-color: #4b66d4;
  --dark-color: #00000e;
  --text-color: #130a78;

  /* Neutros */
  --white-color: #ffffff;
  --light-color: #4b66d43b;
  --gray-color: #777777;
  --dark-color: #1a1a2e;

  /* Gradientes */
  --gradient-primary: linear-gradient(90deg, #130a78 0%, #4b66d4 100%);
  --gradient-accent: linear-gradient(90deg, #0a0543 0%, #3c47a1 100%);

  /* Tipografía */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  /* Tamaños de fuente */
  --fs-small: 0.875rem;
  --fs-medium: 1rem;
  --fs-large: 1.25rem;
  --fs-xlarge: 1.5rem;
  --fs-xxlarge: 2rem;
  --fs-hero: 3.5rem;

  /* Espaciados */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 5rem;

  /* Transiciones */
  --transition-fast: 0.3s;
  --transition-slow: 0.5s;

  /* Radios de borde */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 20px;
  --border-radius-circle: 50%;

  /* Sombras */
  --shadow-light: 0 2px 10px rgba(0, 191, 255, 0.2);
  --shadow-medium: 0 5px 15px rgba(28, 131, 255, 0.3);
  --shadow-dark: 0 8px 30px rgba(0, 0, 0, 0.4);
}
